@use "../../responsive.scss" as res;

.myAssets {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sideContainer2 {
  min-width: 245px;
  transition: transform 0.3s ease-in-out;

  @include res.md {
    min-width: 80px;
  }

  @include res.sm {
    display: none !important; // Hide sidebar on small screens
  }
}


.myAssetsContainer {
  flex: 1;
  /* Main content takes the remaining space */
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  overflow: hidden;

  @include res.md {
    margin-top: -9px;
  }

  @include res.sm {
    width: 100%;
    margin-left: 0;
  }
}

.mainAssets {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  overflow-x: hidden;
}

.myLikedAssetsContainer {
  display: flex;
  justify-content: space-evenly;
  /* Space between child components */
  align-items: flex-start;
  /* Aligns items at the top */
  flex-wrap: wrap;
  gap: 30px;

  @include res.md {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    
  }
}
