@use "../../responsive.scss" as res;

.dashboard {
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sideContainerdash {
  min-width: 245px;
  transition: transform 0.3s ease-in-out;

  @include res.md {
    min-width: 80px;
  }

  @include res.sm {
    display: none !important; // Hide sidebar on small screens
  }
}
.dashContainer {
  flex: 1;
  min-width: 0; // allows flex children to shrink properly
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include res.md {
    margin-top: -9px;
  }

  @include res.sm {
    width: 100%;
    margin-left: 0;
  }
}


// Top header
.mainDashboard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  overflow-x: hidden;
}
