@import "../../responsive.scss";

.dashboard-charts {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;

  @include md {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.total-assets {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.asset-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid #DCD6FA;
  width: 270px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 40px;
  box-sizing: border-box;

  @media (max-width: 480px) {
    width: 100%;
    margin-left: 0;
  }
}

.total-card {
  background: #e9d5ff;
  font-size: 18px;
  border-radius: 20px 20px 0 0;
  color: #5a4b8c;
  height: 80px;
  align-content: center;
  flex-wrap: wrap;
}

.total-value {
  font-size: 30px;
  color: #3f3d56;
  background: white;
  align-content: center;
  overflow: hidden;
  margin-top: 25px;
  flex-wrap: wrap;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

p {
  font-size: 14px;
  color: #777;
}

.asset-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.asset-item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background: #e1e0e0;
  overflow: hidden;
  flex-wrap: wrap;
  margin-left: auto;  // Center align
  margin-right: auto; // Center align

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

.fill-bar {
  position: absolute;
  left: 0;
  height: 100%;
  transition: width 0.3s ease-in-out;
  flex-wrap: wrap;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.asset-analytics {
  background: white;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;

  @include md {
    width: 100%;
  }

  h4 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }

  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    select {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  .donut-chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .donut-center {
    position: absolute;
    flex-wrap: wrap;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    h2 {
      margin: 0;
      font-size: 24px;
      color: #333;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #777;
    }
  }
}

.user-interactions,
.price-range-analysis {
  background: white;
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  margin-left: 1px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 11px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.user-interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    select {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}

.price-range-analysis {
  text-align: start;
  flex-wrap: wrap;

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    input {
      padding: 5px;
      width: 120px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
    }

    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}

.download-button {
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 4px;
  right: 0%;
  flex-wrap: wrap;
  border: 1px solid #004f6e;
  cursor: pointer;
  background-color: transparent;
  color: #004f6e;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;

  @include md {
    font-size: 14px;
    padding: 8px 30px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.dash-table {
  grid-column: span 2;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex-wrap: wrap;

  @include md {
    max-width: 100%;
    margin-right: 0;
  }

  h4 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    flex-wrap: wrap;

    @include md {
      margin-bottom: 20px;
    }
  }

  .table-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 1px;
    width: 100%;
    flex-wrap: wrap;

    @include md {
      margin-top: 70px;
    }
  }

  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
  }

  input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .table-container {
    max-width: 100%;
    overflow-x: auto;
    border-radius: 20px;
    border: 1px solid #ddd;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: #B0BAC3;
        color: white;

        th {
          padding: 10px;
          text-align: center;
          word-wrap: break-word;
          white-space: normal;
          overflow-wrap: break-word;
          max-width: 250px;
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f8f9fa;
          }

          &:hover {
            background-color: #e3f2fd;
          }

          td {
            padding: 10px;
            text-align: center;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
            border-bottom: 1px solid #ddd;
          }

          .asset-link {
            text-decoration: none;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover {
              font-weight: 600;
              font-size: 16px;
            }
          }

          .status {
            font-weight: bold;
            text-transform: capitalize;
            text-align: center;

            &.upcoming { color: #0040ff; }
            &.ongoing { color: #4caf50; }
            &.closed { color: #f44336; }
            &.unknown { color: #757575; }
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;

  button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: #f8f9fa;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background: #d8f3dc;
    }

    &:disabled {
      background: #ddd;
      cursor: not-allowed;
    }

    &.active {
      background: #004f6e;
      color: white;
    }
  }
}
