@use "../../responsive.scss" as res;

.home {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.mainProfile {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.homeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  // transition: margin-left 0.3s ease-in-out;


  @include res.md {
    display: flex;
    width: 70%;
    margin-top: -9px;
  }
}

.latestAssetContainer,
.auctionersContainer {
  display: flex;
  gap: 30px;

  @include res.md {
    flex-direction: column;
    gap: 20px;
    padding: 0px;
  }
}

.addNewAssetContainer {
  height: 458px;
  flex-direction: column;
}

.sideContainer {
  min-width: 245px;
  transition: transform 0.3s ease-in-out;
  margin-top: -9px;

  @include res.md {
    min-width: 80px;
  }

  @include res.sm {
    display: none !important; // Hide sidebar on small screens
  }
}